h1 {
	font-size: 50px;
}

body {
	background-color: #434343;
	color: white;
	font-family: Roboto;
	text-align: center;
	font-size: 20px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#numDigits,
#numCorrect {
	font-weight: bold;
}

#memDigit {
	font-size: 100px;
	margin-top: 20px
}

hr {
	border: 1px white solid;
}

button {
	border: 1px white solid;
	background-color: #434343;
	font-family: Roboto;
	font-size: 20px;
	color: white;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border-radius: 10px
}

button:hover {
	background-color: #6f6f6f;
}

input {
	border: 1px white solid;
	background-color: #434343;
	font-family: Roboto;
	font-size: 20px;
	color: white;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border-radius: 10px;
}

#correctBtn {
	background-color: darkgreen;
}

#correctBtn:hover {
	background-color: #008000;
}

input:focus {
	background-color: #6f6f6f;
}

#top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #585656;
	box-shadow: 0px 5px 8px #585858;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

#boxArea,
#digitArea,
#bottom,
#bottomWrong {
	margin-top: 200px;
}